.views-exposed-widgets .views-exposed-widget {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
	width: 12.5%;
}

.views-exposed-widgets .views-exposed-widget select,
.views-exposed-widgets .views-exposed-widget input {
  width: 100%;
}